{% extends "base.html" %}
{% load static %}
{% block content %}

<h3>Filter by price</h3>
<form method="get" action="">
    <label for="min_price">Min Price:</label>
    <input type="text" name="min_price" id="min_price">

    <label for="max_price">Max Price:</label>
    <input type="text" name="max_price" id="max_price">

    <label for="sort">Sort by:</label>
    <select name="sort" id="sort">
        <option value="low_to_high">Price: Low to High</option>
        <option value="high_to_low">Price: High to Low</option>
    </select>

    <input type="submit" value="Filter">
</form>

</div>
<br>
<div>
    <h1>Shop All Products</h1>
    <p></p>
</div>
<div>
    <div style="display: flex;" class="row">
        {% for product in prods %}
        <div>
            <div>
                <a class="product-img" href="{{product.get_absolute_url}}"><img src="{{product.image.url}}"
                        alt="{{product.name}}" style="width: 200px;height: auto;"></a>
                <div>
                    <p class="product-txt">{{product.name}} <br>
                    {% if user.is_loyal %}
                    <del>€{{product.price}}</del>| €{{product.loyal_price}}</p>
                    {% else %}
                    €{{product.price}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if prods.paginator.num_pages > 1 %}
    <br>
    <div class="page-center">
        {% for pg in prods.paginator.page_range %}
        <button class="page-btn"><a href="?page={{pg}}" class="btn_text {%
if products.number == pg %}active{% endif
%}">{{pg}}</a></button>
        {% endfor %}
    </div>
    {% endif %}
    <br>
</div>
{% endblock %}